.modal:before {
    content: '';
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(#000, .5);
    z-index: 2;
   
}

.modal {
    width: 100%;
    position: absolute;
    top: 200px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    margin: 30px;
    

    .container {
        background: #000;
        color: #FFF;
        width: 60%;
        height: 60%;
        border-radius: 5px;
        text-align: right;
        border: 1px solid #000;
        z-index: 3;
        .pokemon-name-container {
            font-weight: normal;
        }
        
        
        button {
            background: transparent;
            outline: 0;
            border: 0;
            color: #000;
            border-radius: 5px;
            font-weight: bold;
            font-size: 18px;
            width: 32px;
            height: 32px;
            right: calc(-100%+64);          
            &:before, &:after {
                content: ' ';
                position: absolute;
                width: 2.5px;
                height: 24px;
                background: #000;
            }
            
            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }

        .content {
            padding: 10px;
            text-align: justify;
            
        }
    }
    
}

