.modal:before {
    content: '';
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(#000, .5);
    z-index: 2;
   
}

.modal {
    width: 100%;
    position: absolute;
    top: 200px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    margin: 30px;
    
    button {
        background: transparent;
        border: 0;
        width: 10px;
        margin-top: 5px;
        margin-right: 30px;

    } 

    .container {
        background: #000;
        color: #FFF;
        width: 60%;
        height: 60%;
        border-radius: 5px;
        text-align: right;
        border: 1px solid #e60000;
        z-index: 3;

        .pokemon-name-container {
            font-weight: normal;
        }
        

        .content {
            padding: 10px;
            text-align: justify;
            
        }
    }
    
}

