.principal {
    margin: 20px;
    padding: 0;
    justify-content: space-between;
    background: #FFF;
      
}

.principal .pokemon-name {
    width: 100%;
    background: #333333;
    color: #FFF;
    font-weight: bold;
    padding: 0;
    font-size: 20px;
    padding: 20px;
    height: 70px;
   
}

.principal .aside {
    display: flex;
    padding: 10px;
    
}

.principal .aside .image-and-info {
    width: 100%;
    padding: 10px;

}

.image2 {
    width: 500px;
    height: 400px;
    background: #DDD;
    border-radius: 5px;
    
}

.principal .aside .infos-from-pokemon {
    width: 100%;
    height: 345px;
    background: #00bfff;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    display: flex;
    
}

.principal .aside .infos-from-pokemon  span {
    color: #FFF;
    font-size: 20px;
    font-weight: bold;

}

.principal .aside .infos-from-pokemon  span p, .principal .aside .infos-from-pokemon  span span {
    color: #000;
    
}

.principal .aside .infos-from-pokemon  span span {
    display: block;
}

.principal .aside .infos-from-pokemon  span span button {
    width: 20px;
    height: 20px;
    background: #FFF;
    border: 0;
    border-radius: 50%;
    padding: 3px;
    
}

header.types-pokemons {
    display: flex;    
    
}

header.types-pokemons p {
    width: 120px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    color: #FFF;
    margin-bottom: 10px;
    margin: 10px;
}

p.fire {
    background: orange;
    
}

p.poison {
    background: #730099;
    
}

p.grass {
    background: #00e600;
    
}

p.psychic {
    background: #d24dff;
    
}

p.ice {
    background: #80e5ff;
    
}

p.flying {
    background: #1affff;
    
}

p.normal {
    background:#a3a375;
    
}

p.water {
    background:#0099ff;
    
}


p.dark {
    background:#003366;
    
}

p.rock {
    background: #b37700;
    
}

p.bug {
    background: #333300;
    
}

p.electric {
    background: #ffff33;
    
}

p.fairy {
    background: #ff4d88;
}

p.fighting {
    background: #ff3300;
    
}

p.dragon {
    background: #008fb3;
    
}

p.ghost {
    background: #000080;
    
}

p.ground {
    background: #4d2600;
    
}

p.steel {
    background: #33ff99;
    
}