.principal {
    margin: 20px;
    padding: 0;
    justify-content: space-between;
    background: #FFF;
    align-items: center;
    text-align: center;
      
}

.principal .pokemon-name {
    width: 100%;
    background: #333333;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    height: 70px;
    justify-content: space-between;
    display: flex;
   
}

.principal .pokemon-name .pokeball-catched {
    width: 100px;
    height: 100px;
    padding-bottom: 70px;
    
}

.principal .pokemon-name .info-question {
    background: #FFF;   
    border: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #333333;
    margin-top: 1px;
    margin-right: 5px;

}

.principal .aside {
    display: flex;
    padding: 20px;
    align-items: center;
    text-align: right;
}

.principal .aside .image-and-info {
    width: 100%;
    padding: 10px;

}

.image2 {
    width: 600px;
    height: 400px;
    background: #DDD;
    border-radius: 5px;
    margin: 10px;
    
}

.principal .aside .infos-from-pokemon {
    width: 100%;
    height: 345px;
    background: #00bfff;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    display: flex;
    
}

.principal .aside .infos-from-pokemon  span {
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    
}

.principal .aside .infos-from-pokemon  span p, .principal .aside .infos-from-pokemon  span span {
    color: #000;
    
}

.principal .aside .infos-from-pokemon  span span {
    display: block;
}

.principal .aside .infos-from-pokemon  span span button {
    width: 20px;
    height: 20px;
    background: #FFF;
    border: 0;
    border-radius: 50%;
    padding: 3px;
    
}

header.types-pokemons {
    display: flex;    
    
}

header.types-pokemons p {
    width: 120px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
    color: #FFF;
    margin-bottom: 10px;
    margin: 10px;
    font-weight: bold;
    font-family: 'Concert One', cursive;
}

.abilities {
    text-align: right;
    
}

.abilities p {
    color: #FFF;
    margin-right: 20px;
}

p.fire {
    background: #ff8000;
    
}

p.poison {
    background: #730099;
    
}

p.grass {
    background: #00e600;
    
}

p.psychic {
    background: #d24dff;
    
}

p.ice {
    background: #80e5ff;
    
}

p.flying {
    background: #1affff;
    
}

p.normal {
    background:#a3a375;
    
}

p.water {
    background:#0099ff;
    
}


p.dark {
    background:#003366;
    
}

p.rock {
    background: #b37700;
    
}

p.bug {
    background: #333300;
    
}

p.electric {
    background: #ffff33;
    
}

p.fairy {
    background: #ff4d88;
}

p.fighting {
    background: #ff3300;
    
}

p.dragon {
    background: #008fb3;
    
}

p.ghost {
    background: #000080;
    
}

p.ground {
    background: #4d2600;
    
}

p.steel {
    background: #33ff99;
    
}

.moves-and-images {
    display: flex;
    justify-content: space-between;
    position: relative;

}

.move-informations {
    margin: 20px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: block;
    background: #FFF;
    width: 50%;
}

.move-informations .moves {
    height: 70px;  
    background: #000;
    color: #FFF;
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.move-informations .move-description {
    display: inline-block;
    padding: 20px;
    align-items: center;
    text-align: left;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.move-informations .move-description .move-name-description {
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    background: #DDD;
    display: flex;
    justify-content: space-between;
}

.move-informations .move-description .move-name-description button {
    background: transparent;
    border: 0;
    width: 20px;
}

.move-btn {
    background: transparent;
    border: 0;
    width: 20px;
    
}


.move-btn svg {
    
}

.moves p {
    font-weight: bold;
}


.images-shiny-and-back {
    width: 50%;
    margin: 20px;
    height: 70px;
    background:  #000;
    position: relative; 
    
}

.images-shiny-and-back .moves {
    color: #FFF;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.shiny {
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    background: crimson;
    width: 100%;
    display: block;
    text-align: center;
    height: 50px;
    padding: 10px 30px;
    
}

.other-images {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}



@media(max-width: 840px) {
    .principal .aside {
        display: block;
      
        text-align: right;
        
    }
    .image2 {
        width: 100%;
        
    }

}

