div {
    margin: 0;
    padding: 0;
}

.search-pokemon {
    width: 500px;
    height: 60px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid crimson;
    color: crimson;
}

.search-button-container {
    display: flex;
}

.search-button-container .search-button-frame {
    height: 60px;
    width: 70px;
    border-radius: 5px;
    border: 0;
    background: crimson;
    padding: 18px;
}

.link-to-pokemon-catched {
    text-decoration: none;
    font-size: 20px;
}

.pokeball-image {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.Header-container {
    width: 100%;
    height: 80px;
    background: #333333;
    padding: 20px;

    text-align: left;   
    align-items: center;
    display: flex;
    
   
}

.Header-container .link-home {
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
    transition: all 0.2s;
    height: 60px;
}

.Header-container .pokedex-button {
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    height: 60px;
    padding: 14px;
    transition: all 2s;
   
}


.Header-container .link-home:hover {
    border: 1px solid #FFF;
    border-style: dashed;

}

.Header-container .pokedex-button:hover {
    border: 1px solid #FFF;
    border-style: dashed;
}

.principal-container {
    margin: 0;
    padding: 20px;
}

.pokedex-button {
    text-decoration: none;
    text-align: left;
    color: #FFF;
    font-weight: bold;
}

.title-info {
    margin: 10px;
    align-items: center;
    text-align: center;
}

.title-info p {
    font-size: 16px;
    font-weight: normal;
}

.table-container {
    width: 100%;
    height: 40px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #666666; 
    border-collapse: collapse;
}

.table-container tbody .initial-tr {
    background: #333333;
    color: #FFF;
    font-weight: bold;
    height: 50px;
}

.table-container tbody tr td {
    font-size: 18px;
}

.table-container tbody tr .td-name {
    font-weight: bold;
}

.table-container tbody tr .image-td {
    width: 200px;
}

.table-container tbody tr .image-td img {
    width: 100px;
    height: 100px;
}

.table-container tbody tr .id-td {
    width: 200px;
}

.table-container tbody tr .actions-table {
    width: 600px;
}

tr:nth-child(even) {
    background: #FFF
}
tr:nth-child(odd) {
    background: #EEE
}

button {
    margin: 20px;
    height: 40px;
    width: 150px;
    color: #FFF;
    text-decoration: none;
}

.actions-table button {
    
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    background: crimson;
}

.actions-table .btn-1 {
    background: #3366cc;
    color: #FFF;
}

.actions-table .btn-1 .link {
    color: #FFF;
    text-decoration: none;
}

.actions {
    text-align: center;
}

.actions button {
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #FFF;
}

.actions .prev {
    background:  #4d4d4d;
}

.actions .next {
    background:#1a1a1a;
}

button:hover {
    opacity: 0.5;
}
button[disabled]:hover {
    opacity: 0.5;
}